.registerbox{
    width:32%;
    background:rgb(194, 157, 145);
    position:absoulte;
    transform: translate(+105%,+8%);
    box-sizing: border-box;
    border-radius: 4%;
    padding-bottom: 1%;
  }

  .registerbox h1{
      color: white;
      margin-top: 2%;
  }

  .registerbox input{
      border-left:2%;
  }